@charset "UTF-8";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OrkneyLight';
  src:  url('../fonts/Orkney-Light.woff2') format('woff2'),
        url('../fonts/Orkney-Light.woff') format('woff'),
        url('../fonts/Orkney-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OrkneyLightItalic';
  src:  url('../fonts/Orkney-Light-Italic.woff2') format('woff2'),
        url('../fonts/Orkney-Light-Italic.woff') format('woff'),
        url('../fonts/Orkney-Light-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OrkneyMedium';
  src:  url('../fonts/Orkney-Medium.woff2') format('woff2'),
        url('../fonts/Orkney-Medium.woff') format('woff'),
        url('../fonts/Orkney-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'OrkneyRegular';
  src:  url('../fonts/Orkney-Regular.woff2') format('woff2'),
        url('../fonts/Orkney-Regular.woff') format('woff'),
        url('../fonts/Orkney-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OrkneyBold';
  src:  url('../fonts/Orkney-Bold.woff2') format('woff2'),
        url('../fonts/Orkney-Bold.woff') format('woff'),
        url('../fonts/Orkney-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OrkneyRegular', sans-serif;
  font-weight: 300;
  height: 100%;
}

a {
  text-align: none;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Unna', serif;
}

.max-width-window {
  margin: 0 auto;
  max-width: 1920px;
}

.img-responsive {
  width: 100%;
}

.fullpage {
  height: calc(var(--vh, 1vh) * 100);
}

.front {
  background-color: rgb(29,29,27);
  padding-top: 8vh;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
}

.front_logo {
  display: block;
  margin: 0 auto;
  width: 45%;
}

.front_text {
  padding: 6vh 10vw;
  color: #fff;
}

.front_text h5 {
  font-family: 'OrkneyLight', sans-serif;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 200;
}

.front_text h2 {
  font-size: 1.6rem;
  margin: 0% auto;
}

.quotes {
  color: rgb(136,204,205);
  font-family: 'Unna';
  font-style: italic;
}

.quote_one {
  display: none;
}

.quote_two {
  display: none;
}

.quote_three {
  display: none;
}

.quote_four {
  display: none;
}

.quote_five {
  display: none;
}

.front_img {
  width: 70%;
  position: absolute;
  left: 15%;
  bottom: 5vh;
}

.next_section_foot {
  position: absolute;
  width: 20%;
  bottom: 10px;
  left: 40%;
  text-align: center;
}

.next_section_foot h4 {
  color: #fff;
  font-family: 'OrkneyLight', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 5px 0;
}

.next_section_foot img {
  width: 20px;
}

.proyects:after {
  content: "";
  display: table;
  clear: both;
}

.proyects_item {
  position: relative;
  height: 100vw;
}

.proyects_item_img {
  width: 100%;
}

.proyects_item_plus {
  position: absolute;
  width: 10%;
  left: 45%;
  top: 45%;
}

.proyects_item_info {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.proyects_item_info-reveal {
  visibility: visible;
  opacity: 1;
}


.proyects_item_text {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 30%;
  text-align: center;
  color: #fff;
  z-index: 5;
}

.proyects_item_text p {
  font-family: "OrkneyRegular", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.proyects_item_text span {
  font-family: "OrkneyLightItalic", sans-serif;
  font-size: 0.9rem;
}

.proyects_item_text-separation {
  background-color: #fff;
  height: 2px;
  width: 30%;
  margin: 15px auto;
}

.proyects_item_link {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 10%;;
  color: #fff;
  text-align: center;
  z-index: 5;
  border: solid #fff 1px;
  padding: 5px 20px;
  font-size: 0.9rem;
  cursor: pointer;
}

.proyects_item_text_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29,29,27,0.8);
  width: 100%;
  height: 100%;
}

.clients {
  background-color: rgb(29,29,27);
  text-align: center;
  padding: 10vh 0;
}

.clients_text {
  color: #fff;
  padding: 0 10vw;
  margin-bottom: 10vh;
}

.clients_text h3 {
  font-family: "OrkneyMedium", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.clients_text-separation {
  width: 100px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
}

.clients_text p {
  font-size: 0.9rem;
}

.clients_flex_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 5vw;
}

.clients_flex_item {
  width: 50%;
  margin: auto;
}

.footer {
  background-color: rgba(244,244,244,1);
  text-align: center;
  padding: 10vh 0 15vh 0;
  position: relative;
}

.footer_list {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.footer_list_item {
  margin: 20px 0;
}

.footer_list_item img {
  width: 20px;
  vertical-align: middle;
}

.footer_list_item span {
  font-size: 0.65rem;
  vertical-align: middle;
  margin-left: 5px;
}

.footer_logo {
  position: absolute;
  bottom: 0;
  background-color: #000;
  width: 100%;
  padding: 5px 0;
}

.footer_logo img {
  padding-top: 2px;
  width: 100px;
}


/* PROYECTS PAGE */

.proyect_hero {
    /* The image used */
   background-image: url('../images/akbar-hero.jpg');

   /* Full height */
   height: calc(var(--vh, 1vh) * 75);
   width: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: scroll;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.proyect_container {
  max-width: 1200px;
  margin: 0 auto;
}

.proyect {
  padding: 5vh 10vw;

  margin: 0 auto;
}

.proyect_left {
  border-bottom: solid 2px rgb(136, 204, 205);
  padding-bottom: 4vh;
}

.proyect_title {
  position: relative;
}

.proyect_title h4 {
  font-family: 'OrkneyMedium', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.proyect_title h2 {
  font-size: 6.5rem;
  margin: 0;
  position: absolute;
  bottom: -8px;
  left: 0;
  z-index: -5;
  color: #EFEFEF;
}

.proyect_title h3 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.proyect_title_separation {
  width: 100px;
  height: 2px;
  background-color: rgb(136, 204, 205);
}

.proyect_text {
  margin-top: 40px;
  font-size: 0.9rem;
}

.proyect_right-item {
  padding: 15px 0;
}

.proyect_right-title {
  font-family: 'OrkneyMedium', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.proyect_right-item h3 {
  margin-bottom: 0;
}

.proyect_right_separation {
  width: 20%;
  height: 2px;
  background-color: rgb(136, 204, 205);
}

.proyect_right-list {
  font-family: 'Unna', serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.proyect_images {
  overflow: auto;
  padding: 5vh 5vw;
}

.proyect_images:after {
  content: "";
  display: table;
  clear: both;
}

.proyect_img {
  float: left;
  width: 100%;
  padding: 2px;
}

.proyect_nav {
  position: relative;
  height: calc(var(--vh, 1vh) * 10);
}

.prev_proyect {
  position: absolute;
  left: 5vw;
  top: 0;
}

.next_proyect {
  position: absolute;
  right: 5vw;
  top: 0;
  text-align: right;
}

.proyect_nav_arrow {
  width: 30px;
}

.proyect_nav_text {
  margin: 0;
}

/* QUE HACEMOS PAGE */

.quehacemos_front {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
}

#myVideo{
  display: block;
  min-height: 100%;
  min-width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
	z-index: -5;
}

.front_text_quehacemos {
  padding: 35vh 10vw;
}

.soluciones {
  text-align: center;
  background-color: #fff;
  padding: 5vh 5vw;
}

.soluciones_subtitle {
  font-family: "OrkneyLight", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.7rem;
}

.section_title {
  font-size: 1.6rem;
  margin: 0;
}

.soluciones_categories {
  display: flex;
  flex-flow: column;
  padding: 50px 0;
}

.soluciones_categories-item {
  /* flex: 1; */
}

.soluciones_categories-item-img {
  width: 50%;
}

.soluciones_categories-item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
}

/* SECTION EJEMPLOS */

.ejemplos {
  text-align: center;
}

.ejemplos .section_title {
  margin-bottom: 30px;
}

.ejemplos_flex {
  display: flex;
  flex-direction: column;
}

.ejemplos_item {
  width: 100%;
  height: 100%;
  position: relative;
}

.ejemplos_item-img {
  width: 100%;
}

.ejemplos_overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.ejemplos_overlay-text {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.ejemplos_overlay-img {
  width: 20px;
  position: absolute;
  bottom: 40px;
  margin-left: -10px;
}


/* SECTION METODOLOGIA */

.metodologia {
  text-align: center;
  padding: 30px 0;
}

.metodologia_step {
  padding: 30px 10vw;
  background-color: #F7F7F7;
  margin: 20px 0;
}

.metodologia_step_title {
  font-size: 1.4rem;
  margin-top: 0;
}

.metodologia_step_img {
  width: 100%;
}

.step-plus {
  display: inline-block;
  background-color: #88CCCD;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.step-plus img {
  width: 100%;
}

.metodologia_step_info {
  max-height: 0px;
  overflow: hidden;
  transition: 1s;
}

.metodologia_step_info-show {
  max-height: 2000px;
}

.metodologia_step_info_item {
  background-color: #fff;
  padding: 40px 20px;
  margin: 15px 0;
}

.metodologia_step_info_item_title {
  font-family: 'OrkneyLightItalic', sans-serif;
  margin-top: 0;
}

.metodologia_step_info_item li {
  font-size: 0.9rem;
  text-align: left;
}

.metodologia_step_info_item ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* NOSOTROS PAGE */

.nosotros_front {
  background-color: rgb(136,204,205);
  position: relative;
  background-image: url('../images/nosotros_front_hands.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.quote_nosotros {
  color: #000;
}

.nosotros_brief {
  text-align: center;
  font-size: 0.8rem;
  padding: 100px 40px;
}

.nosotros_brief p {
  display: inline-block;
  max-width: 900px;
}
