/* TABLETS MID RES PORTRAIT */

@media (min-width: 768px) and (orientation: portrait) {

.front_logo {
    width: 25vw;
  }

.front_text h2 {
    font-size: 2.5rem;
    margin: 0% auto;
  }

.front_img {
    width: 50%;
    left: 25%;
  }

.proyects_item {
  width: 50%;
  height: 50vw;
  float: left;
}

.clients_text {
  padding: 0 20vw;
}

.clients_flex_container {
  padding: 0 10vw;
}

.clients_flex_item {
  width: 33%;
  margin: auto;
}

/* PROYECT PAGE */

.proyect_images {
  padding: 0 10vw 5vh 10vw;
}

.img-square {
  width: 50%;
}

.prev_proyect {
  left: 10vw;
}

.next_proyect {
  right: 10vw;
}

/* QUE HACEMOS */

.soluciones_categories {
  flex-wrap: wrap;
  flex-direction: row;
}

.soluciones_categories-item {
  width: 50%;
}

/* EJEMPLOS */

.ejemplos_flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.ejemplos_item {
  width: 33.3%;
  height: 33.3%;
}

/* METODOLOGIA */

.metodologia-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.metodologia_step {
  width: 37.5%;
  padding: 30px 10px;
  margin: 0;
}

.primer_step {
  width: 25%;
}

.primer_step_drawing {
  width: 100%;
}

/* .step-plus {
  width: 30px;
  height: 30px;
  padding: 5px;
} */

.metodologia_step_flujo {
  display: none;
}

.metodologia_step_info {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
}

.metodologia_step_info_item {
  width: 12.5%;
}

.metodologia_step_info_item img {
  width: 100%;
}

/* .metodologia_step_info_item li {
  font-size: 0.7rem;
} */

/* NOSOTROS PAGE */

.nosotros_pictures {
  display: flex;
  flex-wrap: wrap;
}

.staff_member {
  width: 50%;
}

/* GURUS SECTION */

.gurus_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gurus_item {
  width: 33.3%;
}

/* CONTACT PAGE */

.contact_front {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contact_info {
  padding: 100px 10% 50px 10%;
}


}

/* TABLETS HIGH RES PORTRAIT */

@media (min-width: 999px) and (orientation: portrait) {

.front {
    padding-top: 0vh;
  }

.front_logo {
    display: none;
  }

.front_text {
    padding: 35vh 15vw;
    color: #fff;
  }

.front_text h2 {
    font-size: 2.5rem;
    margin: 0% auto;
  }

.front_img {
    width: 50%;
    left: 25%;
  }

.clients_flex_item {
    width: 25%;
    margin: auto;
  }

  /* PROYECT PAGE */

  .proyect_left {
    border-bottom: none;
    border-right: solid 2px rgb(136, 204, 205);
    display: inline-block;
    width: 70%;
    padding: 0 3% 0 0;
    vertical-align: middle;
  }

  .proyect_right {
    display: inline-block;
    width: 25%;
    padding-left: 2%;
    vertical-align: middle;
  }


}

/* PHONE LANDSCAOE ORIENTATION */

@media (max-width: 900px) and (orientation: landscape) {

.front_logo {
  width: 15vw;
}

.front_img {
    width: 30%;
    right: 5%;
    left: auto;
}

.proyects_item {
  width: 25%;
  height: 25vw;
  float: left;
}

.clients_flex_container {
  padding: 0 20vw;
}

/* QUE HACEMOS */

.soluciones_categories {
  flex-wrap: wrap;
  flex-direction: row;
}

.soluciones_categories-item {
  width: 50%;
}

}

/* DESKTOP SCREEN */

@media (min-width: 900px) and (orientation: landscape) {

.front {
  padding-top: 30vh;
  height: calc(var(--vh, 1vh) * 100);
}

.front_logo {
  display: none;
}

.front_text {
  padding: 0 20%;
}

.front_text h5 {
  font-size: 0.8rem;
}

.front_text h2 {
    font-size: 2.7rem;
    margin: 0% auto;
}

.front_img {
  width: 35vw;
  right: 5vw;
  left: auto;
}

.next_section_foot img {
  width: 15px;
}

.proyects_item_plus {
  display: none;
}

.proyects_item {
  width: 33.3%;
  height: 33.1vw;
  float: left;
  cursor: pointer;
}

.clients_text {
  padding: 0;
  width: 40%;
  margin: 0 auto 10vh auto;
}

.clients_flex_container {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.clients_flex_item {
    width: 20%;
    margin: auto;
}

.footer {
  padding: 15vh 0 20vh 0;
}

.footer_list_item img {
  width: 25px;
}

.footer_list_item span {
  font-size: 0.75rem;
  margin-left: 15px;
}

/* PROYECT PAGE */

.proyect_hero {
  height: calc(var(--vh, 1vh) * 85);
  background-attachment: fixed;
}

.proyect_left {
  border-bottom: none;
  border-right: solid 2px rgb(136, 204, 205);
  display: inline-block;
  width: 70%;
  padding: 0 3% 0 0;
  vertical-align: middle;
}

.proyect_right {
  display: inline-block;
  width: 25%;
  padding-left: 2%;
  vertical-align: middle;
}

.proyect_images {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 5vh 5vw;
}

.proyect_img {
  padding: 5px;
}

.img-square {
  width: 50%;
}

.proyect_nav {
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* QUE HACEMOS PAGE */

.quehacemos_front {
  padding-top: 35vh;
}

.soluciones_categories {
  flex-wrap: wrap;
  flex-direction: row;
}

.soluciones_categories-item {
  width: 25%;
}

/* EJEMPLOS */

.ejemplos_flex {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
}

.ejemplos_item {
  width: 20%;
  height: 20%;
}

.ejemplos_overlay {
  padding: 0 20%;
}

.ejemplos_overlay-text {
  font-size: 0.7rem;
}

/* METODOLOGIA */

.metodologia {
  padding: 100px 0;
}

.metodologia_outline {
  max-width: 2000px;
  background-color: #F7F7F7;
  margin: 0 10vw;
}

.metodologia-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px 50px 0 50px;
}

.metodologia_step {
  width: 37.5%;
  padding: 30px 30px;
  margin: 0;
}

.primer_step {
  width: 25%;
  border-right: 1px solid #D1D3D4;
}

.primer_step .metodologia_step_title {
  color: #a2a2a1;
}

.segundo_step {
  border-right: 1px solid #D1D3D4;
}

.segundo_step .metodologia_step_title {
  color: #717171;
}


.primer_step_drawing {
  width: 100%;
}

.metodologia_step_flujo {
  display: none;
}

.metodologia_step_info {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
}

.metodologia_step_info_item {
  width: 12.5%;
  cursor: pointer;
}

.pasos {
  width: 100%;
}

.arrow-down {
  width: 20%;
  margin-top: 5px;
  opacity: 0;
  transition: 0.6s;
}

.metodologia_step_info_text {
  font-size: 0.7rem;
  text-align: left;
  padding: 0 5px;
  opacity: 0;
  transition: 0.6s;
}

.info-show {
  opacity: 1;
}

.step_info_one {
  color: #888787;
}

.step_info_two {
  color: #717171;
}

/* .step-plus {
  display: none;
} */

/* .metodologia_step_info {
  max-height: 100%;
  display: flex;
  flex-direction: row;
}

.metodologia_step_info_item {
  background-color: #F7F7F7;
  padding: 40px 15px;
  margin: 0;
  flex: 1;
}

.metodologia_step_info_item_title {
  background-color: rgb(136,204,205);
  color: white;
  padding: 3px 0;
  border-radius: 20px;
}

.metodologia_step_info_item ul {
  padding-left: 10px;
}

.metodologia_step_info_item li {
  font-size: 0.7rem;
} */

/* PAGINA NOSOTROS */

.nosotros_front {
  padding-top: 35vh;
  background-image: url('../images/nosotros-front-hands-desktop.jpg');
}

.nosotros_brief p {
  max-width: 700px;
}

.nosotros_pictures {
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
}

.staff_member {
  width: 50%;
}

.invitation p {
  display: inline-block;
}

/* GURUS SECTION */

.gurus_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gurus_item {
  width: 25%;
}

/* CONTACT PAGE */

.contact_front {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact_info {
  padding: 0px;
  width: 40%;
}

.contact_info_title {
  font-size: 2.5rem;
}

.contact_info_text {
  font-size: 0.8rem;
}

.contact_form {
  padding: 0px 5%;
  width: 50%;
}

}

@media (min-width: 1440px) {

.section_title {
  font-size: 2rem;
}

.front_img {
  width: 30vw;
  right: 10vw;
}

.front_text h2 {
    font-size: 3rem;
}

.proyects_item {
  width: 25%;
  height: 24.9vw;
  float: left;
}

.clients_text {
  width: 30%;
}

.clients_text p {
  font-size: 1rem;
}

.clients_flex_container {
  width: 50%;
}

.footer_list_item img {
  width: 25px;
}

.footer_list_item span {
  font-size: 0.9rem;
}

/* QUE HACEMOS */

/* METODOLOGIA */


}
