/* TABLETS MID RES PORTRAIT */

@media (min-width: 768px) and (orientation: portrait) {

.front_logo {
    width: 25vw;
  }

.front_text h2 {
    font-size: 2.5rem;
    margin: 0% auto;
  }

.front_img {
    width: 50%;
    left: 25%;
  }

.proyects_item {
  width: 50%;
  height: 50vw;
  float: left;
}

.clients_text {
  padding: 0 20vw;
}

.clients_flex_container {
  padding: 0 10vw;
}

.clients_flex_item {
  width: 33%;
  margin: auto;
}

/* PROYECT PAGE */

.proyect_images {
  padding: 0 10vw 5vh 10vw;
}

.img-square {
  width: 50%;
}

.prev_proyect {
  left: 10vw;
}

.next_proyect {
  right: 10vw;
}

}

/* TABLETS HIGH RES PORTRAIT */

@media (min-width: 1000px) and (orientation: portrait) {

.front {
    padding-top: 30vh;
  }

.front_logo {
    display: none;
  }

.front_text {
    padding: 0 15vw;
    color: #fff;
  }

.front_text h2 {
    font-size: 2.5rem;
    margin: 0% auto;
  }

.front_img {
    width: 50%;
    left: 25%;
  }

.clients_flex_item {
    width: 25%;
    margin: auto;
  }

  /* PROYECT PAGE */

  .proyect_left {
    border-bottom: none;
    border-right: solid 2px rgb(136, 204, 205);
    display: inline-block;
    width: 70%;
    padding: 0 3% 0 0;
    vertical-align: middle;
  }

  .proyect_right {
    display: inline-block;
    width: 25%;
    padding-left: 2%;
    vertical-align: middle;
  }

}

/* PHONE LANDSCAOE ORIENTATION */

@media (max-width: 900px) and (orientation: landscape) {

.front_logo {
  width: 15vw;
}

.front_img {
    width: 30%;
    right: 5%;
    left: auto;
}

.proyects_item {
  width: 25%;
  height: 25vw;
  float: left;
}

.clients_flex_container {
  padding: 0 20vw;
}

}

@media (min-width: 1000px) and (orientation: landscape) {

.front {
  padding-top: 30vh;
  height: 90vh;
}

.front_logo {
  display: none;
}

.front_text {
  padding: 0 20%;
}

.front_text h5 {
  font-size: 0.8rem;
}

.front_text h2 {
    font-size: 2.7rem;
    margin: 0% auto;
}

.front_img {
  width: 35vw;
  right: 5vw;
  left: auto;
}

.next_section_foot img {
  width: 15px;
}

.proyects_item_plus {
  display: none;
}

.proyects_item {
  width: 33.3%;
  height: 33.1vw;
  float: left;
  cursor: pointer;
}

.clients_text {
  padding: 0;
  width: 40%;
  margin: 0 auto 10vh auto;
}

.clients_flex_container {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.clients_flex_item {
    width: 25%;
    margin: auto;
}

.footer {
  padding: 20vh 0 25vh 0;
}

.footer_list_item img {
  width: 25px;
}

.footer_list_item span {
  font-size: 0.75rem;
  margin-left: 15px;
}

/* PROYECT PAGE */

.proyect_hero {
  height: 85vh;
}

.proyect_left {
  border-bottom: none;
  border-right: solid 2px rgb(136, 204, 205);
  display: inline-block;
  width: 70%;
  padding: 0 3% 0 0;
  vertical-align: middle;
}

.proyect_right {
  display: inline-block;
  width: 25%;
  padding-left: 2%;
  vertical-align: middle;
}

.proyect_images {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 5vh 5vw;
}

.proyect_img {
  padding: 5px;
}

.img-square {
  width: 50%;
}

.proyect_nav {
  /* max-width: 1200px; */
  margin: 0 auto;
}

}

@media (min-width: 1440px) {

.front_img {
  width: 30vw;
  right: 10vw;
}

.proyects_item {
  width: 25%;
  height: 24.9vw;
  float: left;
}

.clients_text {
  width: 30%;
}

.clients_text p {
  font-size: 1rem;
}

.clients_flex_container {
  width: 50%;
}

.footer_list_item img {
  width: 25px;
}

.footer_list_item span {
  font-size: 0.9rem;
}

}
